.transparent{
    -fx-background-color: rgba(0,0,0,0);
}

.shadow{
    -fx-effect: dropShadow(three-pass-box, rgba(8,0,0,0.6), 10, 0, 10, 10);
}

.cmb_adet{
    -fx-background-color: #ffffff;
    -fx-background-radius: 30;
}

.chosen_pizza{
    -fx-background-color: linear-gradient(from 25% 25% to 100% 100%, #313131, #515151 );
    -fx-background-radius: 30;
}

.infoBox{
    -fx-background-color: linear-gradient(from 25% 25% to 100% 100%, #32cd32, #86ff7d );
    -fx-background-radius: 30;
}

.bar{
    -fx-background-color: #414141;
}

.center{
    -fx-background-color: white;
}

.btn_addToCart{
    -fx-background-color: #ffffff;
    -fx-background-radius: 30;

}

.pizza_item{
    -fx-background-color: #313131;
    -fx-background-radius: 30;
}

.scroll-pane {
   -fx-background-color: transparent;
}